<tr>
  <td><%= post.title %></td>
  <td><%= post.body %></td>
  <td><%= post.id %></td>
  <td><%= post.created_at %></td>
  <td class='some_buttons'>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>